.main{
    background-color: #e9edc9;
    margin-top: 10px;
    mar
}

.txt{
    background: #d4a373;
    display: block;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 150px;
    padding-right: 150px;
    border-radius: 40px;
    box-shadow: 10px 10px 20px black;
    border: 0px solid white;
    justify-content:center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.logo-img{
    display: block;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 80px;
    border-radius: 100px;
    box-shadow: 10px 10px 20px black;
}

.search-input{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 1000px;
    height: 40px;
    border: #6a5f1a;
    box-shadow: 1px 1px 10px black;
    text-align: center; 

}

.btn{
    
    display: block;
    width: 200px;
    height: 40px;
    background-color: #faedcd;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: #6a5f1a;
    border-radius: 70px;
    box-shadow: 10px 10px 5px black;
}
